@charset "utf-8";
/* CSS Document */


.topnav {
	overflow: hidden;
	position: fixed;
	z-index: 1000;
	top:0;
	width: 100%;
	background-color: #EC6224;
}

.topnav a {
	float: left;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 20px;
	margin: 10px;
	text-decoration: none;
 	font-size: 17px;
	transition-property: all;
	transition-duration: 1s;
}
.topnav a.logo{
	padding:0;
}
.topnav .navigation a:hover {
  background-color: #ddd;
  color: black;
}
.navigation{
	float: right;
}


.svgT svg{
	
}
.svgT{

}

/* 2h de ma vie perdu a jamais */
.svgC svg{
	height: 60px;
	width: auto;
	float: left;
	fill: #fff;
	
}
.svgC svg:hover {
	fill: #000;
}
.active {
	background-color: #4CAF50;
	color: white;
}

.topnav .icon {
	display: none;
	background-color: #333;
}
