@charset "utf-8";
/* CSS Document */
footer{
	background-color: rgba(58,58,58,1.00);
	margin: 0;
	padding: 50px;
	text-align: center;
}
.network img{
	width: 50px;
	height: auto;
	margin: 10px 20px;
}
footer p{
	font-size: 0.75em;
	text-align: center;
	color: #AAAAAA;
}


