@charset "utf-8";
/* CSS Document */
.triple{
	background-image: url("../../images/background_final.png");
	background-repeat: repeat;
    background-position: right center;
    background-attachment: fixed;
    overflow: hidden;
}
.triple .colonne{
	background-color:#EC6224;
}
.triple .colonne h2{
	margin-top: 1em;
}
.triple .colonne p{}
.triple .colonne a{}

