@charset "utf-8";
/* CSS Document */
.triple{
	background-color:#FFFFFF;
	height: 600px;
}
.triple .colonne{
	background-color:#CCCCCC;
}
.triple .colonne h2{
	margin-top: 1em;
}
.triple .colonne p{}
.triple .colonne a{}
.triple .colonne{
	padding: 0;
	background-color: transparent;
}
.colonne .face{
	width: 100%;
	height: 200px;
	overflow: hidden;
	transition: 0.5s;
}


.colonne .face.face1{
	position: relative;
	background-color: #333333;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(100px);
	z-index: 1;
}
.colonne:hover .face.face1{	
	transform: translateY(0);
}
.colonne .face.face1 .bloc h2{
	color: #FFFFFF;
	display: block;
	position: absolute;
	z-index: 200;
	top:50%;
	left: 50%;
	transform: translate(-50%, -100%);
	text-transform: uppercase;
	transition: 0.5s;
	opacity: 1;
}

.colonne:hover .face.face1 .bloc h2{
	opacity: 0;
}
.colonne .face.face1 .bloc img{
	transition: 0.5s;
	-webkit-filter: contrast(0.5) grayscale(1) blur(5px);
  filter: contrast(0.5) grayscale(1) blur(5px);
}
.colonne:hover .face.face1 .bloc img{
	-webkit-filter: contrast(1.5) grayscale(0) blur(0);
  filter: contrast(1.5) grayscale(0) blur(0);
}
.colonne .face.face2{
	position: relative;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
	transform: translateY(-100px);
	overflow: hidden;
}

.colonne:hover .face.face2{
		transform: translateY(0);
	overflow:none;
	height: auto;
}