@charset "utf-8";
/* CSS Document */
.triple{
	background-color:#FFFFFF;
}
.triple .colonne{
	background-color:#CCCCCC;
	transition-property: all;
	transition-duration: 0.75s;
}
.triple .colonne:hover{
	transform: translateY(-20px);
	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
	
}
.triple .colonne h2{
	margin-top: 1em;
}
.triple .colonne p{}
.triple .colonne a{}