@charset "utf-8";
/* CSS Document */
.centre{
	background-color: #999999;
}
.centre .colonne{
	background-color: transparent;
	text-align: center;
	padding: 50px;
	margin: 0;
}
.centre .bloctexte{
	width: 80%;
	display: inline-block;
}
