@charset "utf-8";
/* CSS Document */
/* Styles pour toutes les sections */
.double .colonne{
	margin: 0;
	padding: 50px;
}
.double .colonne .bloc{
    width: 80%;
    height: 60vh;
    margin: auto;
}
.double .colonne .bloc img{}
.double .colonne p{}
.double .colonne h2{}
.double .colonne a{}
/* Styles spécifiques à la section avec l'image à gauche */
.double_gauche .colonne{
	background-image: url(../../images/background_final.png);
    background-repeat: repeat;
    background-position: right center;
    background-attachment: fixed;
    overflow: hidden;
}

.double.double_gauche .colonne .bloc img{}
.double.double_gauche .colonne p{}
.double.double_gauche .colonne h2{}
.double.double_gauche .colonne a{
	color: #FFFFFF;
}
.double.double_gaucheN .colonneN a{
	color: #000000;
}
.map a:hover{
	color: #00FFFF;
}
#section2{
	background-image: url(/images/background_final.png);
}
.double.double_gauche .colonne a:hover{
	color: #00FFFF;
}

/* Styles spécifiques à la section avec l'image à droite */
.double_droite .colonne{
	background-image: url(/images/background_final.png);
	background-repeat: repeat;
    background-position: right center;
    background-attachment: fixed;
    overflow: hidden;
}

.double.double_droite .colonne .bloc img{}
.double.double_droite .colonne p{}
.double.double_droite .colonne h2{}
.double.double_droite .colonne a{
	color: #333333;
}
.double.double_droite .colonne a:hover{
	color: #00FFFF;
}