@charset "utf-8";
/* CSS Document */
/* Styles pour toutes les sections */
.double .colonne{
	margin: 0;
	padding: 50px 0;
}
.double .colonne .bloc{
    width: 80%;
    height: 60vh;
}
.double .colonne .bloc img{}
.double .colonne p{}
.double .colonne h2{}
.double .colonne a{}
/* Styles spécifiques à la section avec l'image à gauche */
.double_gauche .colonne{
	background-color: transparent;
}

.double_gauche .colonne:first-child::before{
	content: "";
    display: block;
    background-color: #DDDDDD;
    height: 40%;
    width: 80%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -50%;
	
}
.double.double_gauche .colonne .bloc{
	float: right;
}
.double.double_gauche .colonne .bloc img{}
.double.double_gauche .colonne .bloctexte{
	width: 75%;
	margin-left: 5%;
	margin-top: 15%;
}
.double.double_gauche .colonne p{}
.double.double_gauche .colonne h2{
	display: inline-block;
	margin-top: 50px;
	margin-left: -5%;
	background-color: #FFFFFF;
	padding: 10px;
}
.double.double_gauche .colonne a{
	color: #333333;
}
.double.double_gauche .colonne a:hover{
	color: #00FFFF;
}

/* Styles spécifiques à la section avec l'image à droite */
.double_droite .colonne{
	background-color: transparent;
}
.double_droite .colonne:first-child{
	text-align: right;
	}
.double_droite .colonne:first-child::before{
	content: "";
    display: block;
    background-color: #DDDDDD;
    height: 40%;
    width: 80%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -50%;
	
}
.double.double_droite .colonne .bloc{
	float: left;
}
.double.double_droite .colonne .bloc img{}
.double.double_droite .colonne .bloctexte{
	width: 75%;
	margin-left: 15%;
	margin-top: 15%;
}
.double.double_droite .colonne p{}
.double.double_droite .colonne h2{
	z-index: 500;
	display: inline-block;
	margin-top: 50px;
	margin-right: -5%;
	background-color: #FFFFFF;
	padding: 10px;
}

.double.double_droite .colonne a{
	color: #333333;
}
.double.double_droite .colonne a:hover{
	color: #00FFFF;
}

